<p style="color: green"><%= notice %></p>

<div class="container-sm mt-5">
<h1 class="text-primary"><strong>Movies-list</strong></h1>

<% @lists.each do |list| %>


<ul>
<li ><%= link_to list.name, list_path(list), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"%></li>
</ul>
<% end %>

<%= link_to "Add new list", new_list_path, class: "btn btn-primary" %>

<%= link_to "Add movie", new_movie_path(@movie), class: "btn btn-dark" %>
</div>
