<div class="container-sm mt-5">
<h1 class="text-primary"><strong><%= @movie.title %></strong></h1>
<p><%= @movie.overview %></p>
<hr>
<%= image_tag(@movie.poster_url, size: '200x200') %>
<hr>
<p class="text-dark">Rating :<%= @movie.rating.round %>/10</p>
</div>
